<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.42" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.1" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.OData" version="5.9.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net461" />
  <package id="Microsoft.OData.Core" version="6.15.0" targetFramework="net461" />
  <package id="Microsoft.OData.Edm" version="6.15.0" targetFramework="net461" />
  <package id="Microsoft.Spatial" version="6.15.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.1.603" targetFramework="net461" />
  <package id="System.Linq" version="4.0.0" targetFramework="net461" />
</packages>